@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

h1 {
    display: flex;
    align-self: center;
}

input {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 1px 0 2px 0 rgba(170, 170, 170, 0.5);
    border-radius: 5px 0 0 5px; 
    height: 30px;
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
}

input:focus{
    outline: 1px solid rgba(19, 151, 212, 0.3);
}


#form-new-todo {
    display: flex;
    flex-direction: column;
    align-self: center;
}

#div-btn-input {
    display: flex;
    align-content: center;
}

#div-btn-input > button {
    width: 60px;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 0 5px 5px 0;
    height: 32px;
}

#ul-list {
    display: flex;
    align-self: center;
    flex-direction: column;
    list-style: none;
    height: 60vh;
    padding: 0;
}

#ul-list > li {
    border-radius: 3px;
    border: 1px solid rgba(5, 142, 206, 0.4);
    box-shadow: 0 0 2px 0 rgba(5, 142, 206, 0.2);
    padding: 7px 15px 7px 15px ;
    margin-bottom: 10px;
    font-weight: bold;
}